html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h6 {
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
}

#container {
  display: grid;
  grid-template-rows: 1fr 3.2fr .9fr;
}

header {
  display: grid;
  grid-template-rows: 2fr 1fr;
 
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1.3rem;
  }
  
  nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
   
    ul{
      display: grid;
      grid-template-columns: 1fr 1fr;
      
      li {
        text-align-last: center;
        list-style-type: none;
      }
    }
  }
}


a {
  text-decoration: none;
  color: black;
}

main {
  margin: 1rem;;
  
  section {
    padding: 1rem;
    width: 70rem;
    min-height: 40rem;
    border: 1px solid black;
    
    article {
      margin-top: 2rem;
      padding: 1rem;
      width: 50rem;
      border: 1px solid black;
    }
  }
}


#login {
  display: grid;
  grid-template-rows: .5fr .5fr .7fr;
  width: 20rem;
  height: 18rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border: 1px solid black;
  margin: auto;
  margin-top: 3rem;
  
  input {
    border-style: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 15rem;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 2rem;
  }
  
  button {
    width: 13rem;
    height: 3rem;
    margin-top: 1rem;
    margin: auto;
    margin-top: 2rem;
  }
  
}

footer {
  background: black;
  
  h6 {
    text-align: center;
    color: white;
    margin-top: 1.5rem;
  }

}
