#admin {
  background: pink;
  display: grid;
  width: 800rem;
  height: 100rem;
}

#admin ul {
  background: pink;
  height: 100rem;
  width: 100rem;
}

#login {
  background: green;
  width: 20rem;
  margin: auto;
}
//
//#admin div {
//  background: thistle;
//}